html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#container1, #container2, #container3, content {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    align-content: center;
    justify-content: center;
    text-wrap: balance;
}

#container1 {
    background: linear-gradient(55deg, #B7FFB9 0%, #567BC2 100%);
}

#container2 {
    background: linear-gradient(-235deg, #B7FFB9 0%, #567BC2 100%);
}

#container3 {
    background: linear-gradient(55deg, #B7FFB9 0%, #567BC2 100%);
}

h1 {
    text-align: center;  
    font-family: Figtree;
    font-size: 6vw;
    font-style: italic;
    font-weight: 500;
    line-height: 6vw;
    color: #254789;
}

#question {
    display: flex;
    position: relative;
}

#circle {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: cornsilk;
    top: 70%;
    border: 0.5vw solid #254789;
    font-size: 5vw;
    color: #254789;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#window {
    border-radius: 25px;
    border: 0.5vw solid #254789;
    background-color: rgba(217, 231, 238, 0.3);
    width: 70vw;
    height: 80vh;
    position: relative;
    top: 0%;
    left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-card {
    background-color: transparent;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    perspective: 1000px;
}

.flip-card-inner {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    transition: 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

#circle, #flip-card-back {
    position: absolute;
    width: 6vw;
    height: 6vw;
    backface-visibility: hidden;
}

#flip-card-back {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: #254789;
    top: 70%;
    font-size: 3.5vw;
    color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    cursor: pointer;
}

#content {
    opacity: 0;
    transition: all 0.6s ease-out;
}

#content:hover {
    opacity: 1;
}

#h1 {
    font-family: "Figtree", sans-serif;
    font-size: 5vw;
    color: #254789;
    display: flex;
    justify-content: center;
    top: 10%;
    font-weight: 500;
}

#text {
    font-family: "Figtree", sans-serif;
    font-size: 2vw;
    color: #254789;
    display: flex;
    justify-content: center;
    top: 10%;
    font-style: italic;
    font-weight: 100;
    line-height: 3vw;
}

#circlecontainer {
    display: flex;
    justify-content: space-between;
    padding-left: 19vw;
    padding-right: 19vw;
}

.circle {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: cornsilk;
    font-family: "Figtree", sans-serif;
    border: 0.3vw solid rgb(37, 71, 137);
    color: #254789;
    font-size: 3.5vw;;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4vw;
    position: relative;
}

#flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vw;
}

.image {
    position: relative; 
    filter: drop-shadow(0 0 0.5rem navy);
}

img {
    height: 35vw;
    display: block; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    opacity: 0; 
    transition: opacity 0.5s; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover .overlay {
    background-color: rgba(37, 71, 137, 0.9); 
    opacity: 1; 
}

.caption {
    color: cornsilk;
    font-size: 2vw;
    text-align: center;
    font-family: "Figtree", sans-serif;
    font-style: italic;
    text-wrap: balance;
    padding: 1vw;
}

#buscontainer {
    position: absolute;
}

#busbody {
    animation: bus-bounce .75s linear infinite alternate;
}

#wheels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: wheel-bounce .8s linear infinite alternate;
}

@keyframes bus-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
}

@keyframes wheel-bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
}

#h3 {
    font-family: "Figtree", sans-serif;
    font-size: 4vw;
    color: #254789;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-top: 25vh;
}

a {
    text-decoration: none;
}

#h3:hover {
    filter: drop-shadow(0 0 0.5rem rgb(95, 118, 125));
}

#content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#passenger {
    position: absolute;
    bottom: 0%;
    left: 5vw;
    animation: passenger-bounce 2s linear infinite alternate;
}

#passenger2 {
    position: absolute;
    bottom: -1%;
    right: 0%;
    height: 50%;
    animation: passenger-bounce 2s linear infinite alternate;
}

@keyframes passenger-bounce {
    0%, 50%, 100% {
        transform: translateY(-5px);
    }
    25%, 75% {
        transform: translateY(0px);
    }
}